@model MVC_Product_Manager.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div class="card mb-3">
    <img class="card-img-top" src="~/images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.CategoryName</h5>
        <p class="card-text">@Model.Description</p>
    </div>
</div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
