@model IEnumerable<MVC_Product_Manager.Models.Category>

@{
    ViewData["Title"] = "Kategorien";
}

<h1>Kategorien</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Kategorie erstellen</a>
</p>
<partial name="_CategoryViewPartial" model="Model"/>

