@model IEnumerable<MVC_Product_Manager.Models.Category>

@{
    ViewData["Title"] = "Kategorien";
}

<h1>Kategorien</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Kategorie erstellen</a>
</p>
<form method="get">
    @*asp-controller="Categories" asp-action="Index"*@
    <input type="text" name="search" class="input" placeholder=" Search" />
    <input type="submit" class="btn btn-secondary" value="Search" />
</form>
<partial name="_CategoryViewPartial" model="Model" />

